Checks:
  "-*,

  readability-*,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-simplify-boolean-expr,

  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-integer-sign-comparison,

  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,

  cert-*,
  -cert-err58-cpp,

  portability-*,
  -portability-avoid-pragma-once,

  bugprone-*,

  performance-*,

  concurrency-*,

  clang-analyzer-*,

  "
FormatStyle: file
