CompileFlags:
  CompilationDatabase: Build/Debug

Diagnostics:
  Includes:
    IgnoreHeader:
      - 'Math[/\\]Math\.hpp'
      - 'Vendor[/\\].*'

---
If:
  PathMatch: .*[\/\\]VulkanSDK[\/\\].*

Diagnostics:
  Suppress: '*'

Index:
  Background: Skip

---
If:
  PathMatch: .*[\/\\]Engine[\/\\]Vendor[\/\\].*

Diagnostics:
  Suppress: '*'

Index:
  Background: Skip

---
If:
  PathMatch: .*[\/\\]Build[\/\\].*

Diagnostics:
  Suppress: '*'

Index:
  Background: Skip
